# RStudio junk
.Rhistory
.RData
.Rproj.user/

# Ignore the renv project infra, except the lockfile
renv/*
!renv/activate.R
!renv/settings.json

# Allow tracking of the renv lockfile
!renv.lock

# macOS system files
.DS_Store
.AppleDouble
.LSOverride

# macOS Finder tags and thumbnails
._*
.Spotlight-V100
.Trashes
